<script>
import { mapState, } from 'vuex';
import axios from "axios";

export default {
    name:'urun_form',
    
    data() {
      return {
        siparis: {
          ID : 0,
          URUN_ID: 0,          
          SIPARIS_KG:"",
          SIPARIS_TUTAR: "",
        },
      };
    },

    computed: {
       ...mapState('urun', ['urunler']),
       ...mapState('siparis', ['siparisler']),
     },

    methods: {
        kaydet(siparis) {
          debugger;
            axios.post('http://192.168.1.57/vue_api/api/values/KaydetSiparis',siparis)
                .then(response => {
                  debugger;
                alert("Sipariş kaydedilmiştir.");  
                this.siparis.ID = response.data;
                });
        },
    },  
    created() {
                debugger;
        if (this.$route.params.id !== undefined) {
          this.siparis = this.siparisler.filter(x=> {
            return x.ID == this.$route.params.id;
          })[0];       
      }
    },
}
</script>

<template>
  <div class="container">
    <div>
      <h2 class="col-12">Sipariş</h2>
      <div class="form-group row">
        <span class="col-5 control-label">Ürün: </span>
        <div class="col-7">
          <select v-model="siparis.URUN_ID" class="select-css">
            <option></option>
              <option v-for="urun in urunler" v-bind:value="urun.ID" v-bind:key="urun.ID">
                {{ urun.TANIM }}
              </option>
            </select>
        </div>
      </div>
      <div class="form-group row">
        <span class="col-5 control-label">Sipariş Kg: </span>
        <div class="col-7">
          <input class="form-control" v-model="siparis.SIPARIS_KG" />
        </div>
      </div>
      <div class="form-group row">
        <span class="col-5 control-label">Sipariş Tutar: </span>
        <div class="col-7">
          <input class="form-control" v-model="siparis.SIPARIS_TUTAR" />
        </div>
      </div>
        <button class="btn btn-dark" @click.stop="kaydet(siparis)" style="float: right;">
          Kaydet
        </button>
      </div>
    </div>
</template>