<script>
import { mapState, mapActions, mapGetters } from 'vuex';

export default {
    name:"siparis_listesi",
    computed: {
        ...mapState('siparis',['siparisler']),
        ...mapGetters('siparis',['getKg5'])
     },
    methods: {
        ...mapActions('siparis',['SiparisleriGetir']),
        
        pagePath(urunId) { //Düzenlemeye tıklandığında id ile sayfa yönlendirmesi için
          return `/siparis_form/${urunId}`;
        },
    },
    created() {
        this.SiparisleriGetir().then(() => {
              console.log(this.getKg5);
        });
  }
}
</script>

<template>
<div>
<h1> SİPARİŞLER </h1>
<table class="table">
          <thead>
            <tr>
              <td></td>
              <td>Urun Tanımı</td>
              <td>Sipariş Kg</td>
              <td>Sipariş Tutar</td> 
            </tr>
          </thead>
          <tbody>
            <tr v-for="siparis in siparisler" :key="siparis.ID">
            <td><router-link :to="pagePath(siparis.ID)"><h5 style="color: green" >Düzenle</h5></router-link></td>
              <td>{{ siparis.URUN_TANIM }}</td>
              <td>{{ siparis.SIPARIS_KG }}</td>
              <td>{{ siparis.SIPARIS_TUTAR }}</td>
            </tr>
          </tbody>
        </table>
        </div>
</template>