<script>
import { mapState, mapActions } from 'vuex';

export default {
    name:'urun_listesi',
    data() {
        return { 
          filtreler: {          
              TANIM:"",
            },
          };
    },
    computed: {
      ...mapState('urun', ['urunler', 'filtreTanimlar', 'urun']),
      
     },
    methods: {
        ...mapActions('urun',['UrunleriGetir','FiltreTanimlariGetir','UrunGuncelle']),

        expand(urun) {  
            urun.showDetail = !urun.showDetail;
            this.$forceUpdate();       
        },

        filtrele(){
          this.UrunleriGetir(this.filtreler);
        },

        pagePath(urunId) { //Düzenlemeye tıklandığında id ile sayfa yönlendirmesi için
          return `/urun_form?id=${urunId}`;
        },

    },
    created() {
        this.UrunleriGetir(this.filtreler);
        this.FiltreTanimlariGetir();
  },
  updated(){
  }
}
</script>

<template>
  <div>
    <h1> ÜRÜNLER </h1>
      <div class="col-md-12 col-lg-12">
        <div class="col-md-12 col-lg-12 row">
          <div class="col-md-4 col-lg-4">
            <h5 style="float: right;">Ürün :</h5>
          </div>
          <div class="col-md-4 col-lg-4">
            <select v-model="filtreler.TANIM" class="select-css">
            <option></option>
              <option v-for="filtre in filtreTanimlar" v-bind:key="filtre">
                {{ filtre }}
              </option>
            </select>
          </div>
          <div class="col-md-4 col-lg-4">
            <button @click.stop="filtrele()" style="float: left;"> Filtrele</button>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12" style="margin-top:10px;">
        <table class="table">
          <thead>
            <tr>
              <td></td>
              <td></td>
              <td>Tanım</td>
              <td>Barkod</td>
              <td>Kg</td>
              <td>Ücret</td>              
            </tr>
          </thead>
          <tbody v-for="urun in urunler" :key="urun.ID">
            <tr>
              <td><input type="checkbox" :value="urun.ID" v-on:click="expand(urun)" /></td>
              <td><router-link :to="pagePath(urun.ID)"><h5 style="color: green" >Düzenle</h5></router-link></td>
              <td>{{ urun.TANIM }}</td>
              <td>{{ urun.BARKOD }}</td>
              <td>{{ urun.KG }}</td>
              <td>{{ urun.UCRET }}</td>                  
            </tr>
            <tr v-show="urun.showDetail == null ? urun.showDetail = false : urun.showDetail">
              <td align="center" colspan="5">
                <table class="inner">
                  <thead>
                      <tr>
                      <td>Urun Tanımı</td>
                      <td>Sipariş Kg</td>
                      <td>Sipariş Tutar</td> 
                      </tr>
                  </thead>
                  <tbody>
                      <tr v-for="siparis in urun.SIPARISLER" :key="siparis.ID">
                      <td>{{ siparis.URUN_TANIM }}</td>
                      <td>{{ siparis.SIPARIS_KG }}</td>
                      <td>{{ siparis.SIPARIS_TUTAR }}</td>
                      </tr>
                  </tbody>
                  </table>   
              </td>
            </tr>
       </tbody>
      </table>
    </div>
  </div>
</template>

<style>
.select-css {
    display: block;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    color: #444;
    line-height: 0.80;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}
</style>