<script>
import { mapState } from 'vuex';
import axios from "axios";

export default {
    name:'urun_form',
    
    data() {
      return {
        urun: {
          ID: 0,          
          TANIM:"",
          BARKOD: "",
          KG: 0,
          UCRET: 0
        },
      };
    },

    computed: {
       ...mapState('urun', ['urunler']),
     },

    methods: {
        kaydet(urun) {
          axios.post('http://192.168.1.57/vue_api/api/values/KaydetUrun',urun)
            .then(response => {
              alert("Ürün kaydedilmiştir.");  
              this.urun.ID = response.data;
            });
        },
    },  
    created() {
      if (this.$route.query.id !== undefined) {
          this.urun = this.urunler.filter(x=> {
            return x.ID == this.$route.query.id;
          })[0];       
      }
    },
}
</script>


<template>
  <div class="container">
    <div>
      <h2 class="col-12">Ürün</h2>
      <div class="form-group row">
        <span class="col-5 control-label">Tanım: </span>
        <div class="col-7">
          <input class="form-control" v-model="urun.TANIM" />
        </div>
      </div>
      <div class="form-group row">
        <span class="col-5 control-label">Barkod: </span>
        <div class="col-7">
          <input class="form-control" v-model="urun.BARKOD" />
        </div>
      </div>
      <div class="form-group row">
        <span class="col-5 control-label">Kg: </span>
        <div class="col-7">
          <input class="form-control" v-model="urun.KG" />
        </div>
      </div>
      <div class="form-group row">
        <span class="col-5 control-label">Ücret: </span>
        <div class="col-7">
          <input class="form-control" v-model="urun.UCRET" />
        </div>
      </div>
        <button class="btn btn-dark" @click.stop="kaydet(urun)" style="float: right;">
          Kaydet
        </button>
      </div>
    </div>
</template>