<template>
  <div id="app">
  <div class="col-md-12 col-lg-12" style="background-color: blue; min-height:30px; text-align:center; justify-content: center;">
    <div class="col-md-12 col-lg-12 row">
      <div class="col-md-3 col-lg-3">
        <router-link to="/urun_listesi"><h5 style="color: white; margin-top:5px;">Ürün Listesi</h5></router-link>
      </div>
      <div  class="col-md-3 col-lg-3">
        <router-link to="/siparis_listesi"><h5 style="color: white; margin-top:5px;">Sipariş Listesi</h5></router-link>
      </div>
      <div  class="col-md-3 col-lg-3">
        <router-link to="/urun_form"><h5 style="color: white; margin-top:5px;">Ürün Ekle</h5></router-link>
      </div>
      <div  class="col-md-3 col-lg-3">
        <router-link to="/siparis_form"><h5 style="color: white; margin-top:5px;">Sipariş Ekle</h5></router-link>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-12">
    <div class="routerview">
      <router-view />
    </div>
  </div>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.routerview {
  margin-top: 20px;
}
</style>
